*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 100%) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1290px) {
  .container {
    max-width: 1290px;
  }
}

.visible {
  visibility: visible;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.left-0 {
  left: 0px;
}

.right-0 {
  right: 0px;
}

.right-\[35px\] {
  right: 35px;
}

.top-0 {
  top: 0px;
}

.top-\[25px\] {
  top: 25px;
}

.z-50 {
  z-index: 50;
}

.z-\[10\] {
  z-index: 10;
}

.order-1 {
  order: 1;
}

.-mx-2 {
  margin-left: -16px;
  margin-right: -16px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-\[12px\] {
  margin-bottom: 12px;
}

.mr-\[45px\] {
  margin-right: 45px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 48px;
}

.mt-\[3px\] {
  margin-top: 3px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mt-auto {
  margin-top: auto;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-\[6px\] {
  margin-bottom: 6px;
}

.mr-2 {
  margin-right: 16px;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-auto {
  aspect-ratio: auto;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[350px\] {
  height: 350px;
}

.h-screen {
  height: 100vh;
}

.h-\[\] {
  height: ;
}

.h-\[3px\] {
  height: 3px;
}

.h-\[4px\] {
  height: 4px;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[25px\] {
  width: 25px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-\[\] {
  width: ;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[18px\] {
  width: 18px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[80\] {
  width: 80;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[80px\] {
  width: 80px;
}

.max-w-\[1300px\] {
  max-width: 1300px;
}

.max-w-\[380px\] {
  max-width: 380px;
}

.max-w-\[590px\] {
  max-width: 590px;
}

.max-w-\[740px\] {
  max-width: 740px;
}

.max-w-\[790px\] {
  max-width: 790px;
}

.max-w-\[840px\] {
  max-width: 840px;
}

.max-w-\[990px\] {
  max-width: 990px;
}

.grow {
  flex-grow: 1;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.\!items-start {
  align-items: flex-start !important;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 8px;
}

.gap-2 {
  gap: 16px;
}

.gap-3 {
  gap: 24px;
}

.gap-4 {
  gap: 32px;
}

.gap-\[20px\] {
  gap: 20px;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-\[40px\] {
  border-radius: 40px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-none {
  border-style: none;
}

.border-white\/30 {
  border-color: rgb(255 255 255 / 0.3);
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(12 15 18 / var(--tw-border-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(12 15 18 / var(--tw-bg-opacity));
}

.bg-gray\/5 {
  background-color: rgb(115 115 115 / 0.05);
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(157 232 9 / var(--tw-bg-opacity));
}

.bg-primary\/20 {
  background-color: rgb(157 232 9 / 0.2);
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.\!bg-gray\/5 {
  background-color: rgb(115 115 115 / 0.05) !important;
}

.\!bg-\[\#f2f5f6\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(242 245 246 / var(--tw-bg-opacity)) !important;
}

.\!bg-\[\#f8fbfc\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(248 251 252 / var(--tw-bg-opacity)) !important;
}

.\!bg-\[\#f5f5f5\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity)) !important;
}

.\!bg-\[\#f9f9f9\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(249 249 249 / var(--tw-bg-opacity)) !important;
}

.\!bg-\[\#fefefe\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(254 254 254 / var(--tw-bg-opacity)) !important;
}

.\!bg-\[\#f7f7f7\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity)) !important;
}

.\!bg-\[\#f8f8f8\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity)) !important;
}

.bg-\[\#86da00\] {
  --tw-bg-opacity: 1;
  background-color: rgb(134 218 0 / var(--tw-bg-opacity));
}

.bg-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(115 115 115 / var(--tw-bg-opacity));
}

.p-2 {
  padding: 16px;
}

.p-\[10px\] {
  padding: 10px;
}

.p-1 {
  padding: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-5 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px;
}

.px-\[60px\] {
  padding-left: 60px;
  padding-right: 60px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-\[100px\] {
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-\[120px\] {
  padding-top: 120px;
  padding-bottom: 120px;
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-\[80px\] {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-\[90px\] {
  padding-top: 90px;
  padding-bottom: 90px;
}

.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}

.text-center {
  text-align: center;
}

.text-16 {
  font-size: 16px;
}

.text-20 {
  font-size: 20px;
}

.text-24 {
  font-size: 24px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[26px\] {
  font-size: 26px;
}

.text-\[32px\] {
  font-size: 32px;
}

.text-18 {
  font-size: 18px;
}

.text-\[2px\] {
  font-size: 2px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[23px\] {
  font-size: 23px;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.leading-\[1\.5\] {
  line-height: 1.5;
}

.tracking-\[0\.5px\] {
  letter-spacing: 0.5px;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(12 15 18 / var(--tw-text-opacity));
}

.text-gray {
  --tw-text-opacity: 1;
  color: rgb(115 115 115 / var(--tw-text-opacity));
}

.text-gray\/30 {
  color: rgb(115 115 115 / 0.3);
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(157 232 9 / var(--tw-text-opacity));
}

.text-primarydark {
  --tw-text-opacity: 1;
  color: rgb(157 232 9 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-white\/80 {
  color: rgb(255 255 255 / 0.8);
}

.text-\[24p\] {
  color: 24p;
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

:root {
  --primary: #9DE809;
  --primary-dark: #9DE809;
  --gray: #626262;
  --gray-light: #E5E5E5;
  --black: #000000;
  --white: #FFFFFF;
  --bg: #FAFAFA;
  --card-bg: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
}

.hamburger{
  position:relative;
  z-index:999;
  display:none;
  flex-direction:column;
  gap:5px;
  width:24px;
  height:24px;
  margin-left:auto
}

.hamburger span{
  width:100%;
  height:2px;
  transition:.3s ease-out;
  transform:rotate(0) translate(0, 0);
  background-color:#000000;
  border-radius:30px
}

@media(max-width: 1024px){
  .nav-main .hamburger{
    display:none
  }

  .nav-main .nav-wrapper{
    position:fixed;
    max-width:500px;
    width:100%;
    right:0;
    top:0;
    bottom:0;
    background-color:#091135;
    z-index:99;
    flex-direction:column;
    text-align:left;
    align-items:flex-start;
    padding:47px 40px 90px;
    opacity:0;
    visibility:hidden;
    transition:.4s ease-out
  }

  .nav-main .nav-wrapper>div{
    width:100%
  }

  .nav-main.open .hamburger span:nth-child(1){
    transform:rotate(45deg) translate(6px, 6px)
  }

  .nav-main.open .hamburger span:nth-child(2){
    transform:scale(0)
  }

  .nav-main.open .hamburger span:nth-child(3){
    transform:rotate(-45deg) translate(4px, -4px)
  }

  .nav-main.open .nav-wrapper{
    opacity:1;
    visibility:visible
  }
}

.nav-link{
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  transition: all 0.3s ease;
  position: relative;
}

.nav-link:hover{
  color: var(--primary-dark);
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--primary);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.section-gradient{
  background-color: #f5f6f7;
  background-image: linear-gradient(54deg, hsla(4.060150375939842, 100.00%, 73.92%, 0.25), hsla(4.060150375939842, 100.00%, 73.92%, 0.00) 28%), linear-gradient(241deg, rgba(122, 167, 255, 0.32), hsla(322.06896551724134, 73.11%, 76.67%, 0.00) 36%);
}

.section-dark-gradient{
  background-color: #1d1d1d;
  background-image: radial-gradient(circle farthest-corner at 0% 50%, rgba(255, 1, 1, 0.15), hsla(0, 0.00%, 0.00%, 0.00) 47%), radial-gradient(circle farthest-corner at 40% 130%, hsla(219.69924812030075, 100.00%, 73.92%, 0.41), hsla(0, 0.00%, 0.00%, 0.00) 58%);
}

.c-shadow{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.single-accordion{
  border:1px solid rgba(15,29,48,.1);
  margin-bottom:24px;
  padding:24px 32px;
  border-radius:16px
}

.single-accordion .accordion-trigger{
  display:flex;
  width:100%;
  align-items:center;
  justify-content:space-between;
  gap:16px;
  border-style:none;
  background-color:rgba(0,0,0,0);
  font-size:18px;
  line-height:26px;
  font-weight:500;
  text-align:left
}

.single-accordion .accordion-trigger .accordion-marker{
  width:24px;
  height:24px;
  background-size:100%;
  transition:.4s ease-out;
  transform:rotate(0)
}

@media(max-width: 767px){
  .single-accordion .accordion-trigger{
    font-size:16px
  }

  .single-accordion{
    padding:20px
  }
}

.single-accordion.active .accordion-trigger .accordion-marker{
  transform:rotate(180deg)
}

.single-accordion.active .accordion-answer{
  grid-template-rows:1fr;
  padding-top:24px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px
}

.single-accordion .accordion-answer{
  display:grid;
  overflow:hidden;
  grid-template-rows:0fr;
  transition:.4s ease-out
}

.single-accordion .accordion-answer .answer-wrapper{
  min-height:0
}

.single-accordion .accordion-answer .answer-wrapper p{
  font-size:15px;
  color:rgba(0, 0, 0, 0.7);
  line-height:24px;
  margin-bottom:0
}

@media(max-width: 767px){
  .single-accordion .accordion-answer .answer-wrapper p{
    font-size:14px
  }
}

.single-accordion .accordion-answer.active{
  grid-template-rows:1fr;
  padding-top:24px
}

.single-accordion:last-child{
  margin-bottom:0
}

.loader{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.399) 0%, rgba(0, 0, 0, 0.04) 100%);
  display: none;
}

.loading {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.2s ease-in-out;
}

.button:hover{
  color: var(--primary);
}

.text-shadow{
  text-shadow: 0 0px 0.5px rgba(0,0,0,0.2);
}

.solution-card{
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 40px 30px;
  transition: all 0.3s ease;
  border: 1px solid #E5E5E5;
  position: relative;
}

.solution-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border-color: var(--primary);
}

.solution-icon{
  width: 60px;
  height: 60px;
  background-color: rgba(157, 232, 9, 0.1);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.solution-icon svg{
  width: 30px;
  height: 30px;
  fill: var(--primary-dark);
}

.arrow-list li{
  padding-left:35px;
  font-size:16px;
  position:relative;
  margin-bottom:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-weight:500;
  line-height:24px
}

.arrow-list li:before{
  content:"";
  position:absolute;
  left:0;
  top:2px;
  background-image:url("./img/r-arrow.svg");
  background-repeat:no-repeat;
  width:24px;
  height:24px
}

.arrow-list li:last-child{
  margin-bottom:0
}

@media(max-width: 1024px){
  .arrow-list li{
    font-size:14px;
    padding-left:24px;
    align-items:flex-start
  }

  .arrow-list li:before{
    width:20px;
    height:20px
  }

  .arrow-list li a{
    max-width:192px
  }

  .arrow-list li span{
    font-size:12px;
    opacity:.8
  }
}

.pricing-features {
  margin-bottom: 32px;
}

.pricing-feature {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.pricing-feature svg {
  width: 20px;
  /* height: 18px; */
  fill: var(--primary);
}

.secure-section{
  position: relative;
  background-color: #000;
  overflow: hidden;
}

.secure-section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: 
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)),
      linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px),
      linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 100% 100%, 40px 40px, 40px 40px;
  z-index: 1;
}

/* .secure-gradient{
      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,0.6685267857142857) 0%, rgba(0,0,0,0.6937368697478992) 24%, rgba(0,0,0,0.8421962535014006) 59%, rgba(0,0,0,0.671327906162465) 100%);
      z-index: 1;
    } */

.secure-card{
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.secure-card--icon{
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 9px 5px rgba(222, 247, 171, 0.23) inset;
  opacity: 1;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .md\:mt-\[60px\] {
    margin-top: 60px;
  }

  .md\:mb-4 {
    margin-bottom: 32px;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-\[50\%\] {
    width: 50%;
  }

  .md\:w-\[\] {
    width: ;
  }

  .md\:w-\[40\%\] {
    width: 40%;
  }

  .md\:w-\[80px\] {
    width: 80px;
  }

  .md\:w-\[80\] {
    width: 80;
  }

  .md\:w-\[80\%\] {
    width: 80%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:gap-5 {
    gap: 48px;
  }

  .md\:gap-\[40px\] {
    gap: 40px;
  }

  .md\:p-2 {
    padding: 16px;
  }

  .md\:py-\[100px\] {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .md\:text-18 {
    font-size: 18px;
  }

  .md\:text-\[22px\] {
    font-size: 22px;
  }

  .md\:text-\[24px\] {
    font-size: 24px;
  }

  .md\:text-\[28px\] {
    font-size: 28px;
  }

  .md\:text-\[36px\] {
    font-size: 36px;
  }

  .md\:text-\[42px\] {
    font-size: 42px;
  }

  .md\:text-\[30px\] {
    font-size: 30px;
  }

  .md\:text-\[26px\] {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  .lg\:order-none {
    order: 0;
  }

  .lg\:inline-block {
    display: inline-block;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:min-w-\[160px\] {
    min-width: 160px;
  }
}